.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2e2e36;
    
    
  }

.navbar ul {
    list-style: none;
    display: flex;
    padding-right: 70px;
    

}

.navbar ul li a {
    padding: 20px;
}