
/*De acá para abajo van ordenamientos generales, logo, título, botón login y navbar*/

*{box-sizing: border-box;
  width: 100%;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(50, 50, 50);
}

header{
  width: 100%;
}

.menu {
  background-color: black;

}


#btn_menu{
  display: none;

}


.logo_menu{
  display: none;
}


header label {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-right: 1px solid white;
}

header label:hover{
  cursor: pointer;
  border-right: 1px solid aqua;
  scale: 105%;
}

.nav_home {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: fixed;
  background-color: black;
  z-index: 1;
}


.logo {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 1.2vw;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-animation: logo 1.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: logo 1.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



@-webkit-keyframes logo {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.nav_home ul{
  width: 60%;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  

}

.link_nav {
  background-image: linear-gradient(
    to right,
    aqua,
    aqua 50%,
    rgb(255, 255, 255) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link_nav:before {
  content: '';
  background: aqua;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link_nav:hover {
 background-position: 0;
}

.link_nav:hover::before {
  width:100%;
}


.nav_home li {
  flex-grow: 1;
  text-align: center;
}

.nav_home li a{
  display: flex;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  justify-content: center;
}

@media (max-width: 768px){

  .menu{
    display: block;
    white-space: nowrap;
    width: 100vw;
    position:fixed;
    z-index: 1;
    opacity: 1;
  }

  .nav_home{
    opacity: 1;
  }

  .logo_menu{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5vw;
    display: inline-block;
    text-align: center;
    width: 90%;
    text-decoration: none;
    background-color: black;
    color: white;
    -webkit-animation: logo_menu 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: logo_menu 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


  @-webkit-keyframes logo_menu {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes logo_menu {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  header label {
    display: inline-block;
  }

 .logo{
  display: none;
 } 

  .nav_home {
    position: absolute;
    background-color: black;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
    z-index: 1;
  }

.nav_home ul {
  flex-direction: column;
  width: 100%;
}

.nav_home li {
  border-top: 1px solid white;
}

#btn_menu:checked ~ .nav_home {
  margin: 0;

}

}


/* A partir de acá contenido */


.movie_title {
    font-family: 'Open Sans', sans-serif;
    padding-left: 1%;
    position: relative;
    color: white;
    margin-top: 5vh;
}

.movie_title h1 {
    font-size: 2vw;
    font-weight: bold;
}

.movie_title p {
    font-size: 1.2vw;
    color: lightgray;
}



.media{
    width: 100%;
    display: block;
}

.media_container {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 2%;

    background-color: black;

}


.media_img {
    width: 20%;
}

.media_video{
    width: 70%;
}


.movie_info{
    font-family: 'Open Sans', sans-serif;;
}

.genero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    
}

.genero1 {
    width: fit-content;
    padding: 5px;
    border: white solid;
    border-radius: 40vw;
    font-weight: bold;
    margin-right: 1%;
    color: white;
}

.genero2 {
    width: fit-content;
    padding: 5px;
    border: white solid;
    border-radius: 40vw;
    font-weight: bold;
    margin-right: 1%;
    color: white;

}

.genero3 {
    width: fit-content;
    padding: 5px;
    border: white solid;
    border-radius: 40vw;
    font-weight: bold;
    color: white;
}

.sinopsis{
    width: 50%;
    margin-left: 1%;
    color: lightgray;
}

.movie_info ul{
    list-style: none;
    list-style-type: none;
    padding: 1%;
    justify-content: flex-start;
    color: lightgray;
}

@media (max-width: 768px) {
  .movie_title h1{
    width: 100%;
    text-align: left;
    font-size: 3.5vw;

  }

  .movie_title p{
    text-align: left;
    font-size: 2.5vw;
  }

  .movie_info {
    font-size: 2.5vw;
  }



}

/* FOOTER */

.footer-distributed{
  background: linear-gradient(transparent, black);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font: normal 20px sans-serif;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_footer {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2vw;
  text-align: center;
  background-color: transparent;
  color: white;
 
}

.logo_footer a {
  text-decoration: none;
  color: white;

}


.footer-distributed .footer-center,
.footer-distributed .footer-media{
  display: inline-block;
  vertical-align: top;
}



.footer-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info{
  line-height: 20px;
  color:  white;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.footer-icons{
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 5px;
}




@media screen and (max-width: 480px) {

  .footer-distributed{
    font: normal 20px sans-serif;
    letter-spacing: 1.2vw;
  }


  .footer-distributed .footer-center,
  .footer-distributed .footer-media{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
  }

}